{% extends 'base.html' %}

{% block title %}登录{% endblock %}
 
{% block content %}
 <div class="container">
	<div class=" p-b-60">
		<div class="row p-t-30">
			<div class="col-md-6 col-sm-6">
				<form id="vm" method="post" action="#">
					<div class="row form-row">
						<div class="col-md-10">
							<input name="email" id="email" type="text" class="form-control"	placeholder="Email">
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-10">
							<input name="password1" id="password1" type="text" class="form-control" placeholder="Password">
						</div>
					</div>

					<div class="row form-row">
						<div class="col-md-10">
							<button type="submit" id="button-send" class="btn btn-primary btn-cons">
								登陆</button>
						</div>
						<div id="success">Your message has been successfully!</div>
						<div id="error">Unable to send your message, please try later.</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block afterbody %}
 <script>
	function validateEmail(email) {
		var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
		return re.test(email.toLowerCase());
	}
	function showFormError(msg){
		$('#error').html(msg);
		$('#error').show();
	}
	$(function(){
		$('#vm').show();
		$("#vm").submit(function(e){
			console.log('submit start');
			e.preventDefault();			
			//var $form = $('#vm');
			var email = $('#email').val().trim().toLowerCase();	
			var password1 = $('#password1').val().trim();
	
			if (!validateEmail(email)) {
				showFormError('请输入正确的Email地址');
			}
			else if (password1.length < 6) {
				showFormError('口令长度至少为6个字符');
			}	
			else{
				$.post('/api/authenticate',{
					email: email,
					passwd: CryptoJS.SHA1(email + ':' + password1).toString()
				},function (err, r) {
					if(r=='success')
						if (err.error!= undefined) {
							showFormError(err.message);
						}else{
							location.assign('/');
						}
					else{
						showFormError('请求异常,请稍后再试~');
					}
				});
			}
	
		});		
	});
</script>

{% endblock %}